<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style_about.css">
</head>
<body>
    
    <main>
        <header>
              <ul>
                        <li><a href="index.html" >Home</a></li>
                        <li><a href="/start">Explore</a></li>
                        <li><a href="#" class="active">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
        </header>
        <section class="slider">
            <div class="list">
                <div class="item active">
                    <div class="image" style="--url: url('../static/1.jpg')"></div>
              <div class="sneha"></div>    
                <div class="content">
                        <h2>SNEHA DEBNATH</h2>
                        <p>
                            Sneha’s our UI magician, turning design doodles into web wonders that are so smooth, even your grandma could use them!  
                            <br><br><br>                     
                         </p>
                         
                        <p>
                            Team Lead &amp Front-End Developer.
                        </p>
                    </div>
                </div>
                <div class="item ">
                    <div class="image" style="--url: url('../static/2.jpg')"></div>
                    <div class="priya"></div> 
                     <div class="content">
                        <h2>PRIYA BHOWMIK</h2>
                        <p>
                            Priya’s our backend wizard, making sure our servers stay zen and our code doesn’t go on vacation!      
                            <br><br><br>     
                        </p>
                        <p>
                            Back-End Developer.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="--url: url('../static/3.jpg')"></div>
                    <div class="indrakshi"></div> <div class="content">
                        <h2>INDRAKSHI GHOSH</h2>
                        <p>
                            Indrakshi’s our data whisperer, decoding numbers into crystal ball predictions and making sense of spreadsheets like a data sorceress!
<br><br><br>  
                        </p>
                            <p>
                            Data Scientist with ML Expertise.
                            </p>
                    </div>
                </div>
            </div>
            <div class="arrows">
                <button id="prev">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
                    </svg>
                </button>
                <button id="next">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                    </svg>
                </button>
            </div>
        </section>
    </main>



    <script src="../static/app.js"></script>
</body>
</html>